# What is the value of Juan soto and is trading away your system worth it for the yankees

In [82]:
import pandas as pd
import numpy as np
from pybaseball import batting_stats

In [79]:
pit = pd.read_excel(r"C:\Users\Owner\OneDrive\Desktop\exploratory data files\HOF pit.xlsx")
ls = list(pit["Name"])

In [76]:
HOF = pd.read_excel(r"C:\Users\Owner\OneDrive\Desktop\exploratory data files\HOF bat.xlsx")
HOF

,Rk,Name,Inducted,Yrs,From,To,ASG,WAR/pos,G,PA,...,BB,SO,IBB,GDP,SF,SH,BA,OBP,SLG,OPS
0,1.0,Henry Aaron,1982.0,23,1954,1976,25,143.0,3298,13941,...,1402,1383.0,293.0,328.0,121.0,21.0,0.305,0.374,0.555,0.928
1,2.0,Pete Alexander,1938.0,20,1911,1930,0,3.1,703,1981,...,77,276.0,0.0,NaN,NaN,88.0,0.209,0.242,0.275,0.517
2,3.0,Roberto Alomar,2011.0,17,1988,2004,12,67.0,2379,10400,...,1032,1140.0,62.0,206.0,97.0,148.0,0.300,0.371,0.443,0.814
3,4.0,Walter Alston,1983.0,1,1936,1936,0,0.0,1,1,...,0,1.0,0.0,0.0,NaN,0.0,0.000,0.000,0.000,0.000
4,5.0,Sparky Anderson,2000.0,1,1959,1959,0,-1.2,152,527,...,42,53.0,1.0,15.0,2.0,5.0,0.218,0.282,0.249,0.531
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293,294.0,Carl Yastrzemski,1989.0,23,1961,1983,18,96.5,3308,13992,...,1845,1393.0,190.0,323.0,105.0,13.0,0.285,0.379,0.462,0.841
294,295.0,Cy Young,1937.0,22,1890,1911,0,-2.0,918,3104,...,81,381.0,NaN,NaN,NaN,50.0,0.210,0.234,0.282,0.516
295,296.0,Ross Youngs,1972.0,10,1917,1926,0,32.7,1211,5337,...,550,390.0,NaN,NaN,NaN,119.0,0.322,0.399,0.441,0.839
296,297.0,Robin Yount,1999.0,20,1974,1993,3,77.4,2856,12249,...,966,1350.0,95.0,217.0,123.0,104.0,0.285,0.342,0.430,0.772
297,NaN,Average Batting HOFer,NaN,18,1871,2016,6,67.0,2072,8727,...,878,745.0,71.0,NaN,32.0,95.0,0.303,0.377,0.468,0.845

In [28]:
HOF["K_rate"] = HOF["SO"]/HOF["PA"]
HOF["BB_rate"] = HOF["BB"]/HOF["PA"]
HOF["SB_rate"] = HOF["SB"]/(HOF["SB"] + HOF["CS"])
HOF.query('Name == "Average Batting HOFer"')

,Rk,Name,Inducted,Yrs,From,To,ASG,WAR/pos,G,PA,...,GDP,SF,SH,BA,OBP,SLG,OPS,K_rate,BB_rate,SB_rate
297,NaN,Average Batting HOFer,NaN,18,1871,2016,6,67.0,2072,8727,...,NaN,32.0,95.0,0.303,0.377,0.468,0.845,0.085367,0.100607,0.783883

In [19]:
HOF_test= HOF[["R", "2B", "3B","HR", "RBI"]].div(HOF["Yrs"], axis = 0)
HOF_test = HOF_test.reset_index()
HOF_test

     index          R         2B        3B         HR        RBI
0        0  94.521739  27.130435  4.260870  32.826087  99.869565
1        1   7.700000   3.000000  0.650000   0.550000   8.150000
2        2  88.705882  29.647059  4.705882  12.352941  66.705882
3        3   0.000000   0.000000  0.000000   0.000000   0.000000
4        4  42.000000   9.000000  3.000000   0.000000  34.000000
..     ...        ...        ...       ...        ...        ...
293    293  78.956522  28.086957  2.565217  19.652174  80.173913
294    294  14.772727   3.954545  1.590909   0.818182  13.181818
295    295  81.200000  23.600000  9.300000   4.200000  59.200000
296    296  81.600000  29.150000  6.300000  12.550000  70.300000
297    297  71.555556  22.388889  5.555556  12.277778  66.611111

[298 rows x 6 columns]

In [47]:
HOF_cols = HOF[["Name","BA", "OBP", "SLG", "OPS", "K_rate", "BB_rate", "SB_rate"]]
HOF_cols

,Name,BA,OBP,SLG,OPS,K_rate,BB_rate,SB_rate
0,Henry Aaron,0.305,0.374,0.555,0.928,0.099204,0.100567,0.766773
1,Pete Alexander,0.209,0.242,0.275,0.517,0.139324,0.038869,0.333333
2,Roberto Alomar,0.300,0.371,0.443,0.814,0.109615,0.099231,0.806122
3,Walter Alston,0.000,0.000,0.000,0.000,1.000000,0.000000,NaN
4,Sparky Anderson,0.218,0.282,0.249,0.531,0.100569,0.079696,0.400000
...,...,...,...,...,...,...,...,...
293,Carl Yastrzemski,0.285,0.379,0.462,0.841,0.099557,0.131861,0.591549
294,Cy Young,0.210,0.234,0.282,0.516,0.122745,0.026095,NaN
295,Ross Youngs,0.322,0.399,0.441,0.839,0.073075,0.103054,0.648305
296,Robin Yount,0.285,0.342,0.430,0.772,0.110213,0.078864,0.720745
297,Average Batting HOFer,0.303,0.377,0.468,0.845,0.085367,0.100607,0.783883

In [59]:
bat = batting_stats(2018,2022, qual = 40, ind=0)
Soto = bat.query('Name == "Juan Soto"')
Soto_stats = Soto[["Name","AVG", "OBP", "SLG", "OPS", "SO", "BB", "PA", "SB", "CS"]]
Soto_stats["K_rate"] = Soto_stats["SO"]/ Soto_stats["PA"]
Soto_stats["BB_rate"] = Soto_stats["BB"]/ Soto_stats["PA"]
Soto_stats["SB_rate"] = Soto_stats["SB"]/ (Soto_stats["SB"] + Soto_stats["CS"])

<ipython-input-59-e76e2999fa80>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Soto_stats["K_rate"] = Soto_stats["SO"]/ Soto_stats["PA"]
<ipython-input-59-e76e2999fa80>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Soto_stats["BB_rate"] = Soto_stats["BB"]/ Soto_stats["PA"]
<ipython-input-59-e76e2999fa80>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Soto_stats["SB_rate"] = Soto_stats["SB"]/ (Soto_stats["SB"] + Soto_stats["CS"])

In [60]:
Soto_stats["BA"] = Soto_stats["AVG"]
Soto_stats.drop(columns = ["PA", "AVG", "BB", "SB", "SO", "CS"], inplace = True)
Soto_stats

<ipython-input-60-71915d647134>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Soto_stats["BA"] = Soto_stats["AVG"]
C:\Users\Owner\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

        Name    OBP    SLG    OPS    K_rate   BB_rate  SB_rate     BA
2  Juan Soto  0.426  0.537  0.963  0.170021  0.189322  0.72549  0.291

In [88]:
Combined = pd.concat([Soto_stats, HOF_cols])
Combined = Combined.query('Name not in @ls')
Combined.sort_values("OBP", ascending = False).head(50)

,Name,OBP,SLG,OPS,K_rate,BB_rate,SB_rate,BA
285,Ted Williams,0.482,0.634,1.116,0.072406,0.206393,0.585366,0.344
178,John McGraw,0.466,0.410,0.876,0.031338,0.169025,NaN,0.334
93,Josh Gibson,0.458,0.720,1.178,NaN,0.131820,NaN,0.374
109,Billy Hamilton,0.455,0.432,0.888,0.047575,0.156262,NaN,0.344
155,Buck Leonard,0.452,0.590,1.042,NaN,0.154930,NaN,0.345
41,Oscar Charleston,0.449,0.615,1.063,NaN,0.122194,NaN,0.364
90,Lou Gehrig,0.447,0.632,1.080,0.081738,0.156027,0.504950,0.340
288,Jud Wilson,0.436,0.527,0.962,NaN,0.117267,NaN,0.352
121,Rogers Hornsby,0.434,0.577,1.010,0.071617,0.109482,0.661765,0.358
46,Ty Cobb,0.433,0.512,0.944,0.051897,0.095322,0.808837,0.366
87,Jimmie Foxx,0.428,0.609,1.038,0.135476,0.150047,0.533742,0.325
250,Tris Speaker,0.428,0.500,0.928,0.032696,0.114892,0.735245,0.345
264,Cristóbal Torriente,0.427,0.523,0.951,NaN,0.122025,NaN,0.340
2,Juan Soto,0.426,0.537,0.963,0.170021,0.189322,0.725490,0.291
48,Eddie Collins,0.424,0.429,0.853,0.038637,0.124018,0.791667,0.333
28,Dan Brouthers,0.423,0.520,0.943,0.030945,0.109219,NaN,0.342
164,Mickey Mantle,0.421,0.557,0.977,0.172553,0.174874,0.801047,0.298
259,Frank Thomas,0.419,0.555,0.974,0.138660,0.165459,0.581818,0.301
47,Mickey Cochrane,0.419,0.478,0.897,0.034938,0.137981,0.587156,0.320
169,Edgar Martinez,0.418,0.515,0.933,0.138575,0.147913,0.620253,0.312
252,Turkey Stearnes,0.417,0.616,1.034,NaN,0.096947,NaN,0.349
189,Stan Musial,0.417,0.559,0.976,0.054713,0.125698,0.523490,0.331
22,Wade Boggs,0.415,0.443,0.858,0.069367,0.131471,0.406780,0.328
33,Jesse Burkett,0.415,0.446,0.861,0.063662,0.106865,NaN,0.338
199,Mel Ott,0.414,0.533,0.947,0.078964,0.150524,0.497207,0.304
99,Hank Greenberg,0.412,0.605,1.017,0.138406,0.139718,0.659091,0.313
66,Ed Delahanty,0.411,0.505,0.917,0.052249,0.088312,NaN,0.346
255,Mule Suttles,0.410,0.619,1.029,NaN,0.101398,NaN,0.340
221,Jackie Robinson,0.410,0.477,0.887,0.048982,0.127251,0.724638,0.313
117,Pete Hill,0.410,0.419,0.829,NaN,0.137255,NaN,0.303
113,Harry Heilmann,0.410,0.520,0.930,0.061302,0.095408,0.624309,0.342
10,Jeff Bagwell,0.408,0.540,0.948,0.165200,0.148553,0.721429,0.297
278,Willie Wells,0.407,0.535,0.943,NaN,0.107316,NaN,0.330
268,Arky Vaughan,0.406,0.453,0.859,0.035737,0.121326,0.567308,0.318
91,Charlie Gehringer,0.404,0.480,0.884,0.036310,0.115764,0.667897,0.320
275,Paul Waner,0.404,0.473,0.878,0.034922,0.101328,0.547368,0.333
260,Jim Thome,0.402,0.554,0.956,0.247067,0.169398,0.487179,0.276
142,Joe Kelley,0.402,0.451,0.853,0.052677,0.111601,NaN,0.317
114,Rickey Henderson,0.401,0.419,0.820,0.126929,0.164094,0.807582,0.279
135,Chipper Jones,0.401,0.529,0.930,0.132749,0.142453,0.765306,0.303
271,Larry Walker,0.400,0.565,0.965,0.153300,0.113699,0.751634,0.313
157,John Henry Lloyd,0.400,0.465,0.865,NaN,0.072757,NaN,0.349
7,Luke Appling,0.399,0.398,0.798,0.051492,0.126975,0.623693,0.310
295,Ross Youngs,0.399,0.441,0.839,0.073075,0.103054,0.648305,0.322
257,Ben Taylor,0.398,0.461,0.858,NaN,0.084791,NaN,0.337
69,Joe DiMaggio,0.398,0.579,0.977,0.048097,0.102972,0.769231,0.325
146,Ralph Kiner,0.398,0.548,0.946,0.119725,0.161605,0.550000,0.279
50,Earle Combs,0.397,0.462,0.859,0.042677,0.102855,0.579882,0.325
184,Johnny Mize,0.397,0.562,0.959,0.071080,0.116115,0.700000,0.312
53,Roger Connor,0.397,0.486,0.883,0.051430,0.113259,NaN,0.316

### top 15 in OBP
### top 17 in OPS - #32 in SLG
### Comparing different times is difficult - less plate discipline now affects K rate, BA

In [91]:
list(Soto.columns)

['IDfg',
 'Name',
 'Team',
 'Age',
 'G',
 'AB',
 'PA',
 'H',
 '1B',
 '2B',
 '3B',
 'HR',
 'R',
 'RBI',
 'BB',
 'IBB',
 'SO',
 'HBP',
 'SF',
 'SH',
 'GDP',
 'SB',
 'CS',
 'AVG',
 'GB',
 'FB',
 'LD',
 'IFFB',
 'Pitches',
 'Balls',
 'Strikes',
 'IFH',
 'BU',
 'BUH',
 'BB%',
 'K%',
 'BB/K',
 'OBP',
 'SLG',
 'OPS',
 'ISO',
 'BABIP',
 'GB/FB',
 'LD%',
 'GB%',
 'FB%',
 'IFFB%',
 'HR/FB',
 'IFH%',
 'BUH%',
 'wOBA',
 'wRAA',
 'wRC',
 'Bat',
 'Fld',
 'Rep',
 'Pos',
 'RAR',
 'WAR',
 'Dol',
 'Spd',
 'wRC+',
 'WPA',
 '-WPA',
 '+WPA',
 'RE24',
 'REW',
 'pLI',
 'phLI',
 'PH',
 'WPA/LI',
 'Clutch',
 'FB% (Pitch)',
 'FBv',
 'SL%',
 'SLv',
 'CT%',
 'CTv',
 'CB%',
 'CBv',
 'CH%',
 'CHv',
 'SF%',
 'SFv',
 'KN%',
 'KNv',
 'XX%',
 'PO%',
 'wFB',
 'wSL',
 'wCT',
 'wCB',
 'wCH',
 'wSF',
 'wKN',
 'wFB/C',
 'wSL/C',
 'wCT/C',
 'wCB/C',
 'wCH/C',
 'wSF/C',
 'wKN/C',
 'O-Swing%',
 'Z-Swing%',
 'Swing%',
 'O-Contact%',
 'Z-Contact%',
 'Contact%',
 'Zone%',
 'F-Strike%',
 'SwStr%',
 'BsR',
 'FA% (sc)',
 'FT% (sc)',
 'FC% (sc)',
 'FS% (sc)',
 'FO% (sc)',
 'SI% (sc)',
 'SL% (sc)',
 'CU% (sc)',
 'KC% (sc)',
 'EP% (sc)',
 'CH% (sc)',
 'SC% (sc)',
 'KN% (sc)',
 'UN% (sc)',
 'vFA (sc)',
 'vFT (sc)',
 'vFC (sc)',
 'vFS (sc)',
 'vFO (sc)',
 'vSI (sc)',
 'vSL (sc)',
 'vCU (sc)',
 'vKC (sc)',
 'vEP (sc)',
 'vCH (sc)',
 'vSC (sc)',
 'vKN (sc)',
 'FA-X (sc)',
 'FT-X (sc)',
 'FC-X (sc)',
 'FS-X (sc)',
 'FO-X (sc)',
 'SI-X (sc)',
 'SL-X (sc)',
 'CU-X (sc)',
 'KC-X (sc)',
 'EP-X (sc)',
 'CH-X (sc)',
 'SC-X (sc)',
 'KN-X (sc)',
 'FA-Z (sc)',
 'FT-Z (sc)',
 'FC-Z (sc)',
 'FS-Z (sc)',
 'FO-Z (sc)',
 'SI-Z (sc)',
 'SL-Z (sc)',
 'CU-Z (sc)',
 'KC-Z (sc)',
 'EP-Z (sc)',
 'CH-Z (sc)',
 'SC-Z (sc)',
 'KN-Z (sc)',
 'wFA (sc)',
 'wFT (sc)',
 'wFC (sc)',
 'wFS (sc)',
 'wFO (sc)',
 'wSI (sc)',
 'wSL (sc)',
 'wCU (sc)',
 'wKC (sc)',
 'wEP (sc)',
 'wCH (sc)',
 'wSC (sc)',
 'wKN (sc)',
 'wFA/C (sc)',
 'wFT/C (sc)',
 'wFC/C (sc)',
 'wFS/C (sc)',
 'wFO/C (sc)',
 'wSI/C (sc)',
 'wSL/C (sc)',
 'wCU/C (sc)',
 'wKC/C (sc)',
 'wEP/C (sc)',
 'wCH/C (sc)',
 'wSC/C (sc)',
 'wKN/C (sc)',
 'O-Swing% (sc)',
 'Z-Swing% (sc)',
 'Swing% (sc)',
 'O-Contact% (sc)',
 'Z-Contact% (sc)',
 'Contact% (sc)',
 'Zone% (sc)',
 'Pace',
 'Def',
 'wSB',
 'UBR',
 'Age Rng',
 'Off',
 'Lg',
 'wGDP',
 'Pull%',
 'Cent%',
 'Oppo%',
 'Soft%',
 'Med%',
 'Hard%',
 'TTO%',
 'CH% (pi)',
 'CS% (pi)',
 'CU% (pi)',
 'FA% (pi)',
 'FC% (pi)',
 'FS% (pi)',
 'KN% (pi)',
 'SB% (pi)',
 'SI% (pi)',
 'SL% (pi)',
 'XX% (pi)',
 'vCH (pi)',
 'vCS (pi)',
 'vCU (pi)',
 'vFA (pi)',
 'vFC (pi)',
 'vFS (pi)',
 'vKN (pi)',
 'vSB (pi)',
 'vSI (pi)',
 'vSL (pi)',
 'vXX (pi)',
 'CH-X (pi)',
 'CS-X (pi)',
 'CU-X (pi)',
 'FA-X (pi)',
 'FC-X (pi)',
 'FS-X (pi)',
 'KN-X (pi)',
 'SB-X (pi)',
 'SI-X (pi)',
 'SL-X (pi)',
 'XX-X (pi)',
 'CH-Z (pi)',
 'CS-Z (pi)',
 'CU-Z (pi)',
 'FA-Z (pi)',
 'FC-Z (pi)',
 'FS-Z (pi)',
 'KN-Z (pi)',
 'SB-Z (pi)',
 'SI-Z (pi)',
 'SL-Z (pi)',
 'XX-Z (pi)',
 'wCH (pi)',
 'wCS (pi)',
 'wCU (pi)',
 'wFA (pi)',
 'wFC (pi)',
 'wFS (pi)',
 'wKN (pi)',
 'wSB (pi)',
 'wSI (pi)',
 'wSL (pi)',
 'wXX (pi)',
 'wCH/C (pi)',
 'wCS/C (pi)',
 'wCU/C (pi)',
 'wFA/C (pi)',
 'wFC/C (pi)',
 'wFS/C (pi)',
 'wKN/C (pi)',
 'wSB/C (pi)',
 'wSI/C (pi)',
 'wSL/C (pi)',
 'wXX/C (pi)',
 'O-Swing% (pi)',
 'Z-Swing% (pi)',
 'Swing% (pi)',
 'O-Contact% (pi)',
 'Z-Contact% (pi)',
 'Contact% (pi)',
 'Zone% (pi)',
 'Pace (pi)',
 'FRM',
 'AVG+',
 'BB%+',
 'K%+',
 'OBP+',
 'SLG+',
 'ISO+',
 'BABIP+',
 'LD+%',
 'GB%+',
 'FB%+',
 'HR/FB%+',
 'Pull%+',
 'Cent%+',
 'Oppo%+',
 'Soft%+',
 'Med%+',
 'Hard%+',
 'EV',
 'LA',
 'Barrels',
 'Barrel%',
 'maxEV',
 'HardHit',
 'HardHit%',
 'Events',
 'CStr%',
 'CSW%',
 'xBA',
 'xSLG',
 'xwOBA']

In [101]:
So_Ju = bat.query('Name == "Juan Soto" | Name == "Aaron Judge" ')
So_Ju_base = So_Ju[["Name", "PA","HR", "AVG", "wOBA", "BABIP", "OPS", "OBP", "K%", "wRC+"]]
So_Ju_base

          Name    PA   HR    AVG   wOBA  BABIP    OPS    OBP    K%  wRC+
4  Aaron Judge  2133  144  0.283  0.397  0.339  0.945  0.379  0.28   156
2    Juan Soto  2435  118  0.291  0.405  0.314  0.963  0.426  0.17   154

In [102]:
So_Ju_adv = So_Ju[["Name","WAR", "pLI", "WPA", "O-Swing%", "Z-Swing%", "Z-Contact%", "Hard%", "Med%", "Soft%", "HardHit%", "CStr%", "CSW%", "Barrel%", "maxEV"]]
So_Ju_adv

,Name,WAR,pLI,WPA,O-Swing%,Z-Swing%,Z-Contact%,Hard%,Med%,Soft%,HardHit%,CStr%,CSW%,Barrel%,maxEV
4,Aaron Judge,22.4,0.97,15.08,0.262,0.667,0.822,0.483,0.42,0.097,0.565,0.174,0.301,0.191,119.9
2,Juan Soto,21.3,0.99,13.85,0.205,0.631,0.873,0.370,0.46,0.170,0.478,0.186,0.260,0.123,116.6

### Age is the main indicator as to why to take judge over Soto they have very similar metrics for power AVG etc
### main difference is K% O-swing% and CSw%
### in fact judge makes better contact
### OBP is an important metric but should more be given more as a context and wrC+ and WoBA instead should be looked at

### Yankees have a middle of the pact farm system (10-20) is not signing judge and losing 4-5 young/prospects worth the value
### taking on a bad contract and player of patrik corbin worth it especially if we might not be the team to extend him or sign in FA
### the question comes down to judge and how many of the prospects do you think will be a bust and is soto worth all of that

### Judge is 30 which might be his peak age so I would expect his value to start decreasing a 8 year deal will more show the value he has shown rather than future value
### to find another judge from the prospects might not happen but trading such high value for only a few years of soto would not be worth it
### about 70% of top 100 prospects turn out to be successful which means at least 2-3 players that we would send to WAS would be good players
### I would argue having 2-3 good players and a good judge for a few years would be better than the uncertainty of having soto for a few years and potentially losing him in FA

### Major player Trades since 2015:
### Heaney, Gallo, Rizzo, clay holmes, wandy peralta, taillon, odor, edwin encarcion, paxton, mccutchen, gio urshela, lance lynn, voit, happ, britton, drury,stanton, king, sonny gray, gleybor, hicks, castro, chapman, cessa, green

### depending on service time most players are serviceable or below par - WAR/year being 1-2 as servicable. Some - WAR players
### so some players have not been good trades - but these are mostly 1 yr deal players that don't get extend or serve more time
### Soto would be a great addition with judge if the money is available for both